MISTRAL_API_KEY=
SERVER_URL=https://api.mistral.ai
MISTRAL_CLASSIFIER_MODEL=mistral-medium-latest
MISTRAL_EXTRACTOR_MODEL=mistral-medium-latest

# Optional: set only if you want worker versioning behavior
BUILD_ID=
DEPLOYMENT_NAME=